.footer{
  display: flex;
  min-width: 100vw;
  flex-direction: column;
  justify-content: center; 
  line-height: 1;
  font-size: 0.8rem;
  text-align: center;
  background-color: beige;
  padding-top: 1rem;
  
  bottom: 0;
  
}